/* General Styles for the Entire App */
.app {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
}

.title {
  color: #2a2a72;
  text-align: center;
  margin-bottom: 30px;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60vw; /* Adjust width based on the viewport width */
  height: calc(60vw * 1.414); /* Maintain A4 aspect ratio */
  max-width: 420px; /* Maximum width to simulate A4 width */
  max-height: 594px; /* Maximum height to simulate A4 height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures content stays within the boundaries */
}

/* Styles for Output Viewer */
.output-title-container h2 {
  color: #2a2a72;
  margin-bottom: 10px;
}

.output-container {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 8px;
  font-size: 16px;
}

/* Styles for Image Input and Buttons */
.image-container {
  margin: 20px 0;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder {
  color: #6c757d;
  font-style: italic;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

button {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.clear-button {
  background-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
}

.clear-button:hover {
  background-image: linear-gradient(to right, #ff4b2b 0%, #ff416c 100%);
}

.image-container {
  margin: 20px 0;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: calc(60vw * 1.414);
  max-width: 420px;
  max-height: 594px;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .image-container {
    width: 80vw;
    height: calc(80vw * 1.414);
  }
  .container {
    width: 80vw; /* Adjust width for smaller screens */
    height: auto; /* Adjust height based on the new width */
  }
}

@media (max-width: 480px) {
  .image-container {
    width: 90vw;
    height: calc(90vw * 1.414);
  }
  .container {
    width: 90vw; /* Adjust width for very small screens */
    height: auto; /* Adjust height accordingly */
  }
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
