.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1f1;
}

.title {
  font-family: "Helvetica Neue", sans-serif; /* Modern, clean font */
  font-size: 2.5rem; /* Size of the title */
  background: -webkit-linear-gradient(
    45deg,
    #6a11cb,
    #2575fc
  ); /* Gradient color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; /* Centers the title */
  margin-bottom: 30px;
  padding: 10px 0; /* Adds padding around the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  animation: fadeIn 2s ease-in-out; /* Animation for the title */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
